.cover {
  position: relative;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
