.cover__title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

@media (max-width: 1023px) {
  .cover__title {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 40px;
  }
}

@media (max-width: 424px) {
  .cover__title {
    font-size: 30px;
  }
}
